<br><br><br><br>
<div class="container">
<h2 style="text-align: center;">About Us</h2><br>
<p>Quiz time is a single page angular application which conducts online quiz and displays the results.
</p>
<p>The web page has used Angular Modules, Angular Components, Angular Templates, Angular routing, Angular Material, Angular
DIrectives and further more functionalities of Angular.
</p>
<p>It offers three different quizes for java, python and java script.</p>
<p>It allows the user to choose the correct option and submit the test. User can review the questions that are left
answered or unanswered.</p>
<p>After the submittion, final score would be displayed.</p>
</div>